.DS_Store
.build/
.swiftpm/
DerivedData/
*.xcuserstate
*.xcworkspace/xcuserdata/
SampleApp/*.xcodeproj/xcuserdata/
SampleApp/*.xcodeproj/project.xcworkspace/xcuserdata/
xcuserdata/
*.xcscmblueprint
*.xccheckout
Package.resolved
